**/tmp
*.egg-info/
*.pyc
.DS_Store
.coverage
.env
.idea/
.tox/
__pycache__/
bioimageio_cache/
bioimageio_unzipped_tf_weights/
build/
cache
coverage.xml
dist/
docs/api/
dogfood/
pkgs/
site/
typings/pooch/
