**/tmp
*.egg-info/
*.pyc
.DS_Store
.coverage
.env
.idea/
.tox/
Unet 2D Nuclei Broad_example/
__pycache__/
bioimageio_cache/
bioimageio_unzipped_tf_weights/
build/
cache
coverage.xml
dist/
docs/api/
dogfood/
example/**/output/
output.zip
pkgs/
site/
typings/pooch/
