repos:
  - repo: https://github.com/ambv/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort
