[tool.black]
line-length = 88
extend-exclude = "/presentations/"
target-version = ["py38", "py39", "py310", "py311", "py312"]
preview = true

[tool.pyright]
exclude = [
    "**/__pycache__",
    "**/node_modules",
    "dogfood",
    "presentations",
    "scripts/pdoc/original.py",
    "scripts/pdoc/patched.py",
    "tests/old_*",
]
include = ["bioimageio", "scripts", "tests"]
pythonPlatform = "All"
pythonVersion = "3.12"
reportDuplicateImport = "error"
reportImplicitStringConcatenation = "error"
reportIncompatibleMethodOverride = true
reportMatchNotExhaustive = "error"
reportMissingSuperCall = "error"
reportMissingTypeArgument = true
reportMissingTypeStubs = "warning"
reportPropertyTypeMismatch = "error"
reportUninitializedInstanceVariable = "error"
reportUnknownMemberType = false
reportUnnecessaryIsInstance = false
reportUnnecessaryTypeIgnoreComment = "error"
reportUnsupportedDunderAll = "error"
reportUnusedCallResult = "error"
reportUnusedClass = "error"
reportUnusedExpression = "error"
reportUnusedFunction = "error"
reportUnusedVariable = "error"
reportWildcardImportFromLibrary = "error"
typeCheckingMode = "strict"
useLibraryCodeForTypes = true

[tool.pytest.ini_options]
addopts = "--cov bioimageio --cov-report xml --cov-append --capture no --doctest-modules --failed-first --ignore dogfood --ignore bioimageio/core/backends --ignore bioimageio/core/weight_converters"
testpaths = ["bioimageio/core", "tests"]

[tool.ruff]
line-length = 88
target-version = "py312"
include = ["*.py", "*.pyi", "**/pyproject.toml", "*.ipynb"]
exclude = [
    "presentations",
    "scripts/pdoc/original.py",
    "scripts/pdoc/patched.py",
]

[tool.coverage.report]
exclude_also = ["if TYPE_CHECKING:", "assert_never\\("]
